@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Literata:opsz,wght@7..72,200;7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap');



body {
    background: linear-gradient(81deg, #01bfff, #2b8bff, #5459ff);
}
.container {
    max-width: unset;

}

a, p, h1, h2, h3, label, span, input {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}

main {
    background: rgb(61,23,49);
    background: radial-gradient(ellipse at 13% 72%, rgba(23, 44, 61, 0.723) 5%, rgba(10, 8, 64, 0.768) 49%, rgba(49,48,51,0.9304971988795518) 100%);
    backdrop-filter: blur(10px);
}

.burger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.burger>.bar {
    padding: 0;
    height: 4px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
    right: 0;
}

.bar1 {
    top: 0;
    background-color: rgb(255, 196, 0);
    width: 30px;
}

.bar2, .bar3 {
    top: 13.5px;
    background-color: rgb(251, 255, 2);
    width: 20px;
}

.bar3 {
    background-color: rgb(111, 1, 236);
}

.bar4 {
    bottom: 0;
    background-color: rgb(10, 253, 160);
    width: 10px;
}

.burger.active .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px;
    top: 10px;
    right: -10px;
}

.burger.active .bar2 {
    transform: translateX(-40px);
    background-color: transparent;

}

.burger.active .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.burger.active .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
    bottom: -10px;
    right: -10px;
}

#FooterGenresToggled, #FooterNavigationToggled {
    transform: translateX(0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}



#FooterGenresToggled.active, #FooterNavigationToggled.active {
    transform: translateX(-10px);
    height: fit-content;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    display: flex;
}

#FooterGenresToggled>a, #FooterNavigationToggled>a {
    display: none;
}

#FooterGenresToggled.active>a, #FooterNavigationToggled.active>a {
    display: flex;
}

.search-results .title-card {
    width: 40%;
}

.top-titles .title-card, .new-titles .title-card {
    min-width: 106px;
}

.search-results .items__block {
    justify-content: space-between;
}




@media (min-width: 450px) {
    .search-results .items__block {
        justify-content: flex-start;
    }
    .search-results .title-card {
        width: 19%;
    }
    
}

@media (min-width: 1024px) {
    
.title-card:hover>.container {
    position: absolute;
    transform: scale(1.5);
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    cursor: pointer;
}
.title-card:hover {
    transform: scale(1.25);
    z-index: 2;
}
/*
.title-card:last-of-type:hover>.container {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;
    right: 0;
    left: -80%;
}*/

.title-card:hover>.container>img {
    min-height: 300px;
}

.title-card:hover>.container>.description {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
}

.title-card:hover>.container>.description>p {
    display: inline;
}

#FooterGenresToggled, #FooterNavigationToggled {
    transform: translateX(-10px);
    height: fit-content;
    opacity: 1;
    display: flex;
}
#FooterGenresToggled>a, #FooterNavigationToggled>a {
    display: flex;
}

}







@media (min-width: 1390px) {

}

/*
@media (min-width: 1150px) {
    .title-card:last-of-type:hover>.container {
        left: -70%;
    }
}

@media (min-width: 1200px) {
    .title-card:last-of-type:hover>.container {
        left: -65%;
    }
}

@media (min-width: 1250px) {
    .title-card:last-of-type:hover>.container {
        left: -55%;
    }
}

@media (min-width: 1325px) {
    .title-card:last-of-type:hover>.container {
        left: -40%;
    }
}


@media (min-width: 1440px) {
    .title-card:last-of-type:hover>.container {
        left: -30%;
    }
}

@media (min-width: 1600px) {
    .title-card:last-of-type:hover>.container {
        left: -20%;
    }
}

@media (min-width: 1800px) {
    .title-card:last-of-type:hover>.container {
        left: -10%;
    }
}*/